
<h1 class="text-3xl font-light text-center text-orange-600">Hola mundo!!</h1>
<p class="mt-4 text-xl italic text-center text-gray-800">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
<div class="text-center mt-4">
    <a href="#" class="bg-orange-600 text-white px-4 py-2 font-bold uppercase rounded-xl tracking-wider">Entrar</a>
</div>


<h1 class="bg-red-500 shadow text-6xl text-center py-2">Esto es un H1</h1>

<div class="container mx-auto mt-5">
    <button class='bg-yellow-500 text-white font-bold py-2 px-4 shadow rounded hover:bg-yellow-300'>
        Botón con Tail
    </button>
</div>

<hr class="mt-5">

<div class="container mx-auto mt-5 mb-5 text-center">
    <div class="grid grid-cols-4 gap-4">
        <h1 class="bg-red-400">HOLA MUNDO !!!</h1>
        <h1 class="bg-red-400">HOLA MUNDO !!!</h1>
        <h1 class="bg-red-400">HOLA MUNDO !!!</h1>
        <h1 class="bg-red-400">Fija</h1>
    </div>
</div>

<div class="container mx-auto mt-5 mb-5 text-center">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-3">
        <h1 class="bg-blue-400">HOLA MUNDO !!!</h1>
        <h1 class="bg-blue-400">HOLA MUNDO !!!</h1>
        <h1 class="bg-blue-400">Responsiva</h1>
    </div>
</div>

<div class="container mx-auto mt-5 mb-5 text-center">
    <div class="grid grid-cols-4 gap-4">
        <h1 class="bg-yellow-400 col-span-2">A</h1>
        <h1 class="bg-yellow-400">B</h1>
        <h1 class="bg-yellow-400">C</h1>
        <h1 class="bg-yellow-400 col-span-4">Dinamica</h1>
    </div>
</div>

<div class="container mx-auto">
    <div class="max-w-sm rounded overflow-hidden shadown-lg">
        <img class="w-full" src="<%= asset_path('card-min.jpg') %>" alt="Card-Image">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Titulo</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, 
                odio! Voluptatum exercitationem iusto recusandae fuga impedit placeat assumenda 
                consequuntur atque! Iusto aperiam natus omnis velit dolores unde sint adipisci at.
            </p>
        </div>
        <div class="px-6 py-4">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold">#phothografy</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold">#winter</span>
        </div>
    </div>
</div>
